<a class='btn btn-dark mb-2' href='/admin/register_employee/'>Register a
    employee account</a>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each employees}}
            <tr>
                <td class='table-cell'>
                    <a href='/admin/employee/{{employeeId this}}'>{{employeeName
                            this
                        }}</a>
                </td>
                <td class='table-cell'>
                    <a
                        href='/admin/employee/{{employeeId this}}'
                    >{{employeeEmail this}}</a>
                </td>
                <td class='table-cell'>
                    <a href='/admin/deleteEmployee/{{employeeId this}}'>Delete
                        account</a>
                </td>
            </tr>
        {{/each}}

    </tbody>
</table>