<div class='card card-body'>
    {{#if message}}
        <div class='alert {{messageClass}}' role='alert'>
            {{message}}
        </div>
    {{/if}}
    <h3>Edit Task</h3>
    <form action='/todo/edit' method='POST'>
        <div class='form-group'>
            <label for='title'>Title</label>
            <textarea
                type='text'
                class='form-control'
                name='title'
                placeholder='Practice with Node JS '
                required
            >{{todoTitle}}</textarea>
        </div>
        <div class='form-group'>
            <label for='dueDate'>Due Date</label>
            <input
                class='form-control'
                type='date'
                id='dueDate'
                name='dueDate'
                value='{{todoDueDate}}'
                required
            />
        </div>
        <input type='hidden' value='{{UserId}}' name='UserId' />
        <input type='hidden' value='{{ObjectId}}' name='ObjectId' />
        <button type='submit' class='btn btn-dark'>Submit</button>
    </form>
</div>